form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: 20px auto;
}

.btn {
  background: none;
  border: none;
  color: white;
  background: purple;
  padding: 10px;
  margin: 0 10px;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.formInput {
  background: none;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
}
